@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root{
    --bg-color: #141414;
    --main-color: #5a189a; 
    --main-txt: #CCCCCC;
    --card-color: #191919;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    height: 100vh;
    background-color: var(--bg-color);
    color: var(--main-txt);
}

section, main{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

span{
    color: var(--main-color);
}


/* header */

.header {
    position: fixed;
    width: 100%;
    right: 3rem;
    padding: 2rem 9%;
    background-color: var(--bg-color);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar a {
    font-size: 1.8rem;
    color: var(--main-txt);
    margin-left: 4rem;
    transition: .3s;
    font-weight: 500;
}

.navbar a:hover, .navbar a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--main-txt);
    display: none;
}

/* profile section */

.profile{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-img img{
    width: 23vw;
}

.profile-content h3{
    font-size: 3.2rem;
    font-weight: 700;
}

.profile-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.profile-content p{
    font-size: 1.6rem;
}

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent; 
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color); 
    margin: 3rem 1.5rem 3rem 0;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--bg-color);
    transition: .5s ease;
}

.profession{
    color: var(--main-color);
}

.btn-cv {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: var(--main-txt);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
    border: .2rem solid transparent;
}

.btn-cv:hover {
    background-color: transparent;
    border: .2rem solid var(--main-color);
}

/*main section*/

.about {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}

.title {
    text-align: center;
    font-size: 4.5rem;
    color: var(--main-txt);
}

.about-content h2{
    text-align: left;
    line-height: 1.2rem;
}

.about-content h1{
    font-size: 2.6rem;
    margin-top: 3rem;
}

.about-content p{
    font-size: 1.6rem;
    margin: 0 0 3rem;
    width: 35vw;
}

.skills h2 {
    line-height: 1.2rem;
    margin-top: 10.70rem; 
}

.box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 7rem;
}

.card {
    height: 120px;
    width: 140px;
    border-radius: 1.25rem;
    background: var(--card-color);
    margin: 0 1.25rem 1rem 0;
    text-align: center;
}

.card i {
    font-size: 6rem;
    margin: 1rem 0;
    color: var(--main-color);
}

.box .card h5 {
    font-size: 1.44rem;
}